In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# set plotting params
plt.rcParams['font.serif'] = 'Ubuntu'
plt.rcParams['font.monospace'] = 'Ubuntu Mono'
plt.rcParams['font.size'] = 18
plt.rcParams['axes.labelsize'] = 18
plt.rcParams['axes.titlesize'] = 18
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12
plt.rcParams['legend.fontsize'] = 18
plt.rcParams['figure.titlesize'] = 24

In [3]:
from src.Clean import CleanUFOs

In [4]:
cufo = CleanUFOs('data/ufodata.json')

In [5]:
df = cufo.to_pandas()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131985 entries, 0 to 131984
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   occured      131953 non-null  datetime64[ns]
 1   reported     131985 non-null  datetime64[ns]
 2   city         131985 non-null  object
 3   state        131985 non-null  object
 4   shape        131985 non-null  object
 5   duration     131985 non-null  int64
 6   description  131985 non-null  object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 7.0+ MB

In [7]:
# df['duration'].apply(lambda x: adjust_duration(x))

In [8]:
df['duration'].unique()

array([     600,        1,        3,       30,        0,       60,
             15,        2,      300,       -1,       20,      180,
             10,     1200,      240,        4,        5,    14400,
           1800,        7,     7200,     2700,     3600,       45,
            840,      120,      -60,      420,      900,      720,
             25,      360,        8,       90,     1740,    -3600,
              6,      540,     1320,       35,     5400,     1500,
           2100,      960,       50,        9,    18000,     3900,
           2400,    10800,      480,       40,       13,    21600,
           2940,       12,     3000,      780,    28800,    36000,
             21,    86400,       19,     1080,     3480,     3060,
             23,      160,       80,       17,     6300,       37,
           1380,     1260,       53,     1020,       27,     1620,
           4440,       18,       22,       59,       28,       55,
           1440,     2640,      660,       69,     2580,      150,
             39,       54,     3360,       11,       24,    39600,
           2880,   108000,     2760,     4800,       78,      155,
             65,   216000,     1920,     4500,    54000,     1560,
             48,     3300,       49,      115,       46,     1935,
             14,     4200,   172800,       75,     1601,       67,
             84,       63,     5880,     1980,       72,    25200,
          90000,    72000,   198000,       32,   277200,       44,
            100,      105,       95,      450,      921,    32400,
             88,      200,       36,      110,       70,       42,
           3240,     4020,    12000,       33,   162000,   259200,
           1300,     1680,       16,       85,       26,      130,
             68,       83,       41,    50400,      152,     6000,
             29,      800,     4140,       38,       47,      173,
           1140,       93,     6660,      103,    43200,       31,
           2340,       57,     1860,      322,      125,     2040,
          64800,       43,      500,     2220,       87,     2520,
           4680,     1100,   144000,     2160,     2280,       61,
         324000,       34, 82800000,       89,    46800,     3120,
            215,     2105,     2300,     2358,     2820,   720000,
         111600,      545,   180000,    82800,     3420,     5760,
        6120000,     1640,    79200,     2001,     9000,       64,
           7800,    68400,    97200,   748800,      411,     1910,
            201,      250,      630,     2230,     1210,      815,
           2330,      116,      127,  2988000,     2210,     2145,
            530,     2460,      511,   345600,       52,     2245,
           5280,     1992,     2149,    75600,     1110,   147600,
           2015,    14300,     2200,      945,      151,      330,
           3180,     2305])

In [9]:
df.head(5)

,occured,reported,city,state,shape,duration,description
0,2017-05-06 05:00:00,2017-05-06 04:10:00,Camp McGregor,NM,Light,600,Light seen over mountain's east of Camp McGreg...
1,2017-05-06 04:50:00,2017-05-06 05:00:00,Mojave (Canada),BC,Light,1,Light in sky stationary. Not a airplane or an...
2,2017-05-05 11:30:00,2017-05-05 12:18:00,Austin,TX,Disk,3,"Flying saucer descends, possibly lands in Nort..."
3,2017-05-05 03:00:00,2017-05-05 03:49:00,El Mirage,AZ,Circle,30,"While letting my dog out, a very bright white ..."
4,2017-05-04 23:34:00,2017-05-04 22:38:00,York,NE,Fireball,0,A fire ball was moving in the atmosphere while...

In [10]:
lst = df['description'].tolist()

In [11]:
df['occured'].min(), df['occured'].max()

(Timestamp('1721-04-25 21:30:00'), Timestamp('2021-07-02 23:30:00'))

In [12]:
df['reported'].min(), df['reported'].max()

(Timestamp('1905-06-23 10:29:00'), Timestamp('2017-05-06 09:36:00'))

In [14]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.porter import PorterStemmer

def tokenize(text):
    tokenizer = nltk.RegexpTokenizer(r"\w+")

    tokens = tokenizer.tokenize(text)
#     tokens = nltk.word_tokenize(text)
    stems = []
    for item in tokens:
        stems.append(PorterStemmer().stem(item))
    return stems

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
tfidf = TfidfVectorizer(sublinear_tf=True,tokenizer=tokenize, stop_words='english')
p = tfidf.fit_transform(df['description'].tolist())

/home/everett/anaconda3/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'formerli', 'forti', 'ha', 'henc', 'hereaft', 'herebi', 'hi', 'howev', 'hundr', 'inde', 'latterli', 'mani', 'meanwhil', 'moreov', 'mostli', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'seriou', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'thi', 'thu', 'togeth', 'twelv', 'twenti', 'veri', 'wa', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [20]:
test_df = pd.DataFrame(p[:10000].todense(),columns = features)
test_df.head(5)

ValueError: Shape of passed values is (10000, 106695), indices imply (10000, 10000)

In [ ]:
response = tfidf.transform([df['description'][0]])
print( response )

In [ ]:
# tfidf.get_feature_names()
tfidf.vocabulary_

In [19]:
features = tfidf.get_feature_names()[:10000]

In [ ]:
# for a in zip(features[0,:],response):
#     print(a)
print(response[:,])